#map div {
    border: 3px black;
    border-style: solid;
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
}

div.hero {
    content: url(Map/map_hero.ico);
}

div.trap {
    content: url(Map/map_trap.png);
}

div.fight {
    content: url(Map/map_fight.png);
}