#room {
    position: relative;
    width: 1000px;
    height: 560px;
}

img.people {
    position: absolute;
    width: 200px;
    height: 270px;
}

img.action {
    position: absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#backgroundRoom {
    position: absolute;
    width: 1000px;
    height: 560px;
    z-index: -1;
}

#roomHero {
    left: 100px;
    top: 180px;
}

#roomEnemy {
    right: 100px;
    top: 180px;
}

#roomAttack {
    bottom: 40px;
    left: 100px;
}

#roomMagic {
    bottom: 40px;
    left: 170px;
}

#roomDefense {
    bottom: 40px;
    left: 240px;
}

div.status {
    position: absolute;
    display: table;
    width: 80px;
    height: 70px;
    text-align: center;
    color: black;
    font: italic bold 28px Georgia, serif;
    background-image: url(Room/room_hp.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div span {
    display: table-cell;
    vertical-align: middle;
}

#roomHeroHPStatus {
    top: 50px;
    left: 130px;
}

#roomEnemyHPStatus {
    top: 50px;
    right: 130px;
}

div.result {
    position: absolute;
    display: table;
    width: 40px;
    height: 40px;
    text-align: center;
    font: italic bold 50px Georgia, serif;
}

div.result span.attack {
    color: darkred;
}

div.result span.defense {
    color: deepskyblue;
}

div.result span.magic {
    color: lightgoldenrodyellow;
}

div.result span.round {
    color: white;
}

#roomNumberRound {
    top: 100px;
    left: 480px;
}

#roomHeroAttackResult {
    top: 300px;
    left: 650px;
}

#roomEnemyAttackResult {
    top: 300px;
    right: 650px;
}