#map div {
    border: 3px black;
    border-style: solid;
    width: 50px;
    height: 50px;
    margin: auto;
    display: inline-block;
}

#room {
    position: relative;
    width: 1000px;
    height: 560px;
}

img.people {
    position: absolute;
    width: 200px;
    height: 270px;
}

img.action {
    position: absolute;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

#backgroundRoom {
    position: absolute;
    width: 1000px;
    height: 560px;
    z-index: -1;
}

#roomHero {
    left: 100px;
    top: 180px;
}

#roomEnemy {
    right: 100px;
    top: 180px;
}

#roomAttack {
    bottom: 40px;
    left: 100px;
}

#roomMagic {
    bottom: 40px;
    left: 170px;
}

#roomDefense {
    bottom: 40px;
    left: 240px;
}

div.status {
    position: absolute;
    display: table;
    width: 80px;
    height: 70px;
    text-align: center;
    color: black;
    font: italic bold 28px Georgia, serif;
    background-image: url(Room/room_hp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div.status span {
    display: table-cell;
    vertical-align: middle;
}

#roomHeroHPStatus {
    top: 50px;
    left: 130px;
}

#roomEnemyHPStatus {
    top: 50px;
    right: 130px;
}

div.hero {
    content: url(Map/map_hero.ico);
}

div.trap {
    content: url(Map/map_trap.png);
}

div.fight {
    content: url(Map/map_fight.png);
}